/** COLOURS **/

// Peg colours
$pegOr: #FF8306;
$pegLb: #56CCF2;
$pegPu: #B463FF;
$pegGr: #0BE295;
$pegYe: #FFD600;
$pegLp: #FF78CE;
$pegLi: #8AF502;
$pegRe: #FF3838;
$pegDb: #2F80ED;
$pegHp: #F42E8D;

// System colours
$background: #272837;
$accent: #2F3041;

// Guess-check colours
$white: #FFFFFF;
$black: #000000;
$grey: #939393;


